* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Primary */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* Neutral */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

nav {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding: 0px 20px;
}

.main {
  background: var(--dark-violet);
}